<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Payment Checkout Form</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">
	<link rel="stylesheet" href="css/payment.css">

</head>
<body>
	


<div class="wrapper">
  <div class="payment">
    <div class="payment-logo">
      <p>p</p>
    </div>
    
    
    <h2>Payment Gateway</h2>
    <div class="form" >
    <form action="/payment" method="POST"> 
       
          <div class="card space icon-relative">
            <label class="label">Course Details:</label>
            <select class="input" name="CourseID" placeholder="Course Name" >
                <% for (var i=0; i < courses.length; i++) {%>

                <option class= "input" , value  ="<%= courses[i].Course_ID%>" > <%= "Course Name: " +  courses[i].Course_Name + " , ID: "  + " " + courses[i].Course_ID  %> </option>
                <% } %>
   
            </select>
         
        
        </div>

        <div class="card space icon-relative">
          <label class="label">Card number:</label>
          <input type="text" class="input" placeholder="Card Number" required name= "cardnum" >
          <i class="far fa-credit-card"></i>
        </div>
      <div class="card space icon-relative">
        <label class="label">Password:</label>
        <input name= "password"  type="password" class="input" placeholder="Password"   required>
        <i class="fas fa-lock"></i>
      </div>
      <div class="card-grp space">
        <div class="card-item icon-relative">
          <label class="label">Expiry date:</label>
          <input name= "expriedate"  type="text" name="expiry-data" class="input"  placeholder="00 / 00" required>
          <i class="far fa-calendar-alt"></i>
          </div>

              <div class="card-item icon-relative">
                <label class="label">CVC:</label>
                <input name= "cvc"  type="text" class="input"  placeholder="000" required>
                <i class="fas fa-lock"></i>
              </div>
      
      </div>       
            
        <input type="submit" class="btn" value="Pay" id="submit"  />
      </form>  
    </div>
  </div>
</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

</body>
</html>